*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.calculator{
  width: 300px;
  margin: 60px auto;
  background-color: #78c0c9;
  padding: 10px 20px;
  overflow: hidden;
  border-radius: 8px;
}

.title{
  text-align: center;
  color: #378292;
  padding: 10px 0;
}

input{
  width: 100%;
  border: 1px solid #9bdef7;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  outline: none;
  background-color: #fff;
}
.btn{
  width: 50px;
  height: 50px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.btn-key{
  margin: 8px 6px;
}
.row{
  display: flex;
  justify-content: space-between;
  margin: 12px -6px;
  flex-wrap: wrap;
  
}

.reset, .delete{
  margin-top: 10px;
}

.delete{
  margin-left: 20px;
}





/* Card */


body {
  height: 100vh;
  background:#50c878;
}
body .app {
  display: flex;
  margin-top: 262px;
  justify-content: center;
  color: #fff;
}
body .app .card {
  width: 305px;
  height: 408px;
  border-radius: 15px;
  background-color: #242628;
  margin: 0 30px;
  overflow: hidden;
}
body .app .card__img {
  border-radius: 100%;
  width: 123px;
  height: 123px;
  border: 4px solid #f2726a;
  margin: 25px auto;
  transition: 0.4s;
}
body .app .card__img:hover {
  width: 100%;
  height: 100%;
  border-radius: none;
  border: none;
}
body .app .card__img:hover img {
  border-radius: 15px;
  transform: translateY(-25px);
}
body .app .card__img:hover .card {
  overflow: hidden;
}
body .app .card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
body .app .card__name {
  font-weight: 1000;
  font-size: 22px;
  text-align: center;
}
body .app .card__work {
  text-align: center;
  font-weight: 800;
  color: #f2726a;
}
body .app .card__socical {
  text-align: center;
  margin: 38px 0;
  cursor: pointer;
}
body .app .card__socical i {
  font-size: 22px;
  margin: 0 20px;
  transition: 0.5s;
}
body .app .card__socical i:hover {
  color: #f2726a;
}
body .app .card__contact {
  display: flex;
  justify-content: center;
}
body .app .card__contact button {
  border: 2px solid #f2726a;
  width: 126px;
  height: 43px;
  background-color: #242628;
  border-radius: 10px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
body .app .card__contact button:hover {
  background-color: #f2726a;
}

/* Music */

.list{
  width: 1026px;
  margin: 0 auto;
}

.key{
  width: 300px;
  height: 300px;
  font-size: 24px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
